body {
  background-color: #f1e6cd;
}

h1 {
  text-align: center;
}
a {
  text-align: center;
}
div {
  text-align: center;
}

.btn {
  padding: 10px;
  margin: 10px;
  background-color: #f4ac90 !important;
  border-color: #f1e6cd !important;
}

.btn:hover {
  background-color: #e96245 !important;
}
